body {
  background-color: #fff;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.counter-component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 4;
}

.number {
  text-align: center;
  font-size: 8rem;
  color: #72907B;
  margin-bottom: 2.5rem;
}

.button {
  border-radius: 3rem;
  width: 5rem;
  border: 2px solid #72907B;
  background-color: transparent;
  padding: 12px;
  font-size: 20px;
  color: #72907B;
  text-align: center;
  font-weight: bold;
  margin: .8rem;
}

.reset-button {
  width: 12rem;
  border-radius: 3rem;
  border: none;
  background-color: #72907B;
  padding: 16px;
  font-size: 15px;
  color: #fff;
  text-align: center;
  font-weight: 700;
  margin: 1rem;
}

.buttons-alignment {
  flex-flow: row wrap;
}

.button:hover {
  background-color: #72907B;
  border: none;
  color: #fff;
}
.reset-button:hover {
  background-color: #7d9b86;
}

.developer-credits {
    width: 100%;
    margin-bottom: 1rem;
    text-align: center;
    color: #b8c3c6;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex: 1;
}