* {
  background-color: rgb(224, 222, 222);
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.number {
  text-align: center;
  font-size: 8rem;
  padding: 2rem;
  /* font-weight: lighter; */
}

.button {
  border-radius: 3rem;
  border: none;
  width: 12%;
  display: inline-block;
  background-color: #403f3f;
  padding: 12px;
  font-size: 20px;
  color: white;
  text-align: center;
  font-weight: bold;
  margin: 1rem;
}

.button:hover {
  background-color: #767676;
}

p {
  font-size: 8rem;
  text-decoration: underline;
}

.reset-button-margin {
  margin-bottom: 8rem;
}