* {
  background-color: rgb(224, 222, 222);
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.number {
  text-align: center;
  font-size: 6rem;
  padding: 2rem;
}

.button {
  border-radius: 3rem;
  width: 14%;
  display: inline-block;
  background-color: #403f3f;
  padding: 12px;
  font-size: 20px;
  color: white;
  text-align: center;
  font-weight: bold;
  margin: 1rem;
}

.button:hover {
  background-color: #767676;
}
